
$font-One    : 'Roboto Slab', serif;

$font-Two    : 'PT Serif', serif;


$theme-color      : #0a68ca;

$link-color       : #0a68ca;


$white            : #FFFFFF;
$black            : #000000;
$dark-gray        : #7F7F7F;
$light-gray       : #C0C0C0;
$green            : #5CB85C;
$light-blue       : #5BC0DE;
$red              : #D9534F;
$yellow           : #F0AD4E;
$blue             : #0000FF;







